.App {
  height: 100%;
  min-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.App-flex {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-heading {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  background-color: #eeeeee;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.App-button {
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 13px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
  transform: all 0.3s;
}

.App-button:hover {
  background-color: #c4c4c4;
}

.App-select {
	margin-top: 5px;
}

.App-players {
  margin-top: 40px;
  flex-wrap: wrap;
}

.App-player {
  min-width: 280px;
  border: solid 1px lightgray;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.App-player:hover {
  transform: scale(1.1);
}

.App-player-img {
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: solid 1px transparent;
  border-radius: 90px;
}

.App-player-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-player-section {
  margin-top: 10px;
  display: flex; 
  align-items: center;
}

.App-player-name {
  font-size: 18px;
  margin-right: 5px;
}

.App-player-team {
  margin-top: 2px;
  font-size: 14px;
}

.App-player-position {
  font-weight: bold;
  font-size: 15px;
}

.App-player-shield {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
}

.App-pichichi {
  min-width: 280px;
  border: solid 1px lightgray;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 20px;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s;
}

.App-pichichi:hover {
  transform: scale(1.04);
}

.App-pichichi-data {
  margin-left: 10px;
}

.Modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.Modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  max-width: 458px;
  width: 100%;
  height: min-content;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.Modal-body {
  word-wrap: anywhere;
  text-align: left;
  overflow: auto;
}

.Modal-section-inline {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.Modal-section-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Modal-input-budget {
  margin-top: 20px;
}

.Modal-input-budget-style {
  margin-left: 5px;
  color: green;
}

.Modal-footer {
  margin-top: 10px;
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .App-player {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .App-player-img {
    width: 60px;
    height: 60px;
  }
  .App-player {
    flex-direction: row;
	justify-content: flex-start;
  }
  .App-player-data {
	margin-left: 10px;
	align-items: flex-start;
  }
  
}


